body {
    padding: 0;
    margin: 0;
    color: @color-default;
}

ul {
    padding: 0;
    margin: 0;
    li {
        list-style: none;
    }
}

a {
    color: inherit;
}

.form-error {
    display: block;
    margin: 5px 0;
    padding: 0 5px;
    color: @color-error;
    font-size: 13px;
}

//rest bootstrap
