.order-summary {
    background: @color-grey-light;
    border-radius: @border-radius;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    font-size: 16px;
    color: @color-default;
    padding: 30px;
    .summary-item {
        margin-right: 40px;
        &.summary-line {
            margin-bottom: 10px;
            flex: 0 0 100%;
            margin-right: 0;
            >span {
                &:first-child {
                    width: 120px;
                    text-align: right;
                    display: inline-block;
                }
            }
        }
    }
}
.order-filter {
    margin-top: 20px;
    padding-left: 40px;
    .filter-item {
        display: flex;
        .bj-checkbox {
            margin-right: 20px;
        }
    }
}
.order-content {
    margin: 20px 0;
    border: 2px solid @color-grey;
    padding: 40px;
    border-radius: @border-radius;
    display: flex;
    flex-wrap: wrap;
    .video-item {
        text-align: center;
        flex: 0 0 19%;
        width: 19%;
        
        video {
            max-width: 100%;
        }
    }
}
.order-address {
    color: @color-default;
    span {
        &:first-child {
            font-size: 18px;
            color: @color-blue;
            margin-right: 5px;
        }
    }
}

.details-body {
    .detail-nav {
        display: flex;
        padding: 2% 2.9%;
        background: @color-grey-light;
        margin-left: -20px;
        margin-right: -20px;
        justify-content: space-around;
        li {
            border-bottom: 1px solid transparent;
            a {
                color: @color-primary;
                font-size: 18px;
            }
            &.active,
            &:hover {
                border-color: @color-blue;
                background: transparent;
                >a {
                   color: @color-blue;
                   border-color: transparent;
                   background: transparent;
                }
            }
        }
    }
    .detail-body {
        .order-summary {
            background: transparent;
        }
        .list-tree {
            border: 2px solid @color-grey-light;
            padding: 15px 20px;
            .list-tree-item {
                display: flex;
                margin-bottom: 15px;
                .item-right {
                    margin-left: 30px;
                    .item-line {
                        display: flex;
                        +.item-line  {
                            margin-top: 15px;
                        }
                        span {
                            margin-right: 20px;
                            flex: 0 0 160px;
                            &:last-child {
                                flex: 0 0 300px;
                            }
                        }
                    }
                }
            }
        }
    }
    .line-checkbox {
        .bj-checkbox {
            display: inline-block;
        }
    }
    .pop-body {
        border: 2px solid @color-grey-light;
        border-radius: @border-radius;
        min-height: 300px;
    }
    .pop-video-body {
        border: 2px solid @color-grey-light;
        border-radius: @border-radius;
        margin-bottom: 10px;
        ul {
            display: flex;
            flex-wrap: wrap;
        }
        li {
            display: flex;
            flex: 0 0 20%;
            padding: 20px;
            flex-direction: column;
            align-items: center;
            span {
                margin-bottom: 20px;
                font-size: 16px;
                color: @color-primary;
            }
            video {
                width: 180px;
                height: 120px;
                background: @color-grey-min;
                border-radius: @border-radius;
            }
        }

    }
}
