// Layout 
@padding-unit: 10px;

// Brand color
@color-white: #FFFFFF;
@color-default: #102131;
@color-primary: #101F2D;
@color-third: #152244;
@color-grey-darker: #878D99;
@color-grey: #979797;
@color-grey-light: #F2F2F3;
@color-grey-min: #EDEFF0;
@color-blue-darker: #2B529C;
@color-blue: #5C75C1;
@color-blue-light: #677897;
@color-error: #FF0000;
@color-success: rgb(13, 182, 55);
// Border styles
@border-default-color: #cccccc;
@border-color: @color-grey;
@border-radius: 8px;
@border-radius-sm: 6px;
@border-with: 4px;
@border-with-mini: 1px;
// Font styles
@fsize-default: 16px;
@fsize-mini: 12px;

