// Form ele styles
.form-group {
	position: relative;
}

input {
	&.bj-default-input ,
	&.bj-primary-input  {
		border-radius: @border-radius;
		padding: @padding-unit;
		height: 30px;

		+.input-group-btn {
			height: 30px;
			button {
				height: 100%;
			}
		}
	}
	&.bj-default-input {
		background: @color-white;
		border: @border-with-mini solid @border-default-color;
	}
	&.bj-primary-input {
		background: @color-grey-light;
		border: @border-with-mini solid @border-default-color;
	}
	&.border {
		border: @border-with-mini solid @border-color;
	}
	&.has-unit {
		padding-right: 20px;
		+ i {
			position: absolute;
			right: 25px;
			top: 10px;
			font-style: normal;
		}
	}

	&.input-text {
		padding-right: 25px;
		+ span {
			position: absolute;
			right: 15px;
			font-size: 16px;
			color: @color-blue-light;
			top: 10px;
		}
	}
}
.bj-checkbox {
	
	input[type='checkbox'] {
		+ span {
			border: @border-with-mini solid @color-grey-light;
			width: 16px;
			display: inline-block;
			height: 16px;
			margin-right: 5px;
			position: relative;
			border-radius: 4px;
			&::before {
				content: '';
				position: absolute;
				width: 9px;
				height: 6px;
				transform: rotate(-45deg);
				border-color: transparent;
				border-left: 2px solid @color-white;
				border-bottom: 2px solid @color-white;
				border-bottom-left-radius: 2px;
				margin: auto;
				top: 0;
				bottom: 3px;
				left: 0;
				right: 0;
			}
		}
	}
	input[type='radio'] {
		+ span {
			border: @border-with-mini solid @color-grey-light;
			width: 16px;
			display: inline-block;
			height: 16px;
			margin-right: 5px;
			position: relative;
			border-radius: 8px;
			&::before {
				content: '';
				position: absolute;
				width: 4px;
				height: 4px;
				background: @color-white;
				border-radius: 2px;
				margin: auto;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
			}
		}
	}
	
	label {
		display: flex;
		align-items: center;
		margin-bottom: 0;
		color: inherit;
		font-weight: inherit;
		cursor: pointer;
	}
	&.primary {
		input[type='checkbox'],
		input[type='radio'] {
			+ span {
				border-color: @color-white;
				background: @color-white;
			}
		}
	}
	
	input[type='checkbox'],
	input[type='radio'] {
		position: absolute;
		left: -9999px;
		&:checked {
			~ span {
				background: @color-blue-darker;
			}
		}
	}
}
.bj-default-textarea {
	padding: 10px;
	border-radius: @border-radius;
}

.range-date {
	display: flex;
	align-items: center;
	justify-content: space-between;
	.date-start,
	.date-end {
		flex: 0 0 45%;
	}
}