// Form ele styles

input {
	&.bj-default-input {
		border-radius: @border-radius;
		padding: @padding-unit*2;
		font-size: @fsize-default;
		color: @color-blue-thin;
		background: @color-white;
		border: none;
	}
	&.border {
		border: @border-with-mini solid @border-color;
	}
}