.search-box {
  background: @color-grey-light;
  padding: 20px 15px;
  border-radius: @border-radius;
  .search-box-title {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .search-box-line {
    + .search-box-line {
        margin-top: 20px;
    }
  }

  .search-group {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    >.search-title {
      flex: 0 0 auto;
      font-size: 18px;
      color: @color-primary;
      text-align: right;
      padding-right: 15px;
    }
    >.search-content {
      flex: 0 0 300px;
      .form-group {
        margin-bottom: 0;
      }
      .tag-select {
        width: 400px;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 16px;
        a {
          display: block;
          padding: 5px 10px;
          &.active {
            border-radius: 8px;
            border: 1px solid @color-blue;
            color: @color-blue;
          }
        }
      }
      .show-more {
        display: inline-block;
        margin-top: 10px;
        color: @color-blue;
      }
    }
  }
  .search-action {
    height: 38px;
  }
}

.search-form {
  background: @color-grey-light;
  padding: 20px 15px;
  border-radius: @border-radius;
  .search-form-line {
    display: flex;
    margin-bottom: 10px;
    .search-group {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      .search-title {
        width: 80px;
        text-align: right;
        margin-right: 10px;
      }
      .search-content {
        .form-group {
          position: relative;
          margin-bottom: 0;
        }
        .error {
          color: @color-error;
          position: absolute;
          left: 0;
          top: 3px;
        }
      }
    }  
  }
  .search-actions {
    width: 100%;
    text-align: right;
    .search-actions-item {
      min-width: 100px;
      >button {

      }
    }
  }
}